/* Adds 60 pixel ghost element after the navbar */

body::before {
    display: block;
    content: '';
    height: 60px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* Forces the card text height to 2 lines at all breaks, even if the lines of text differs */

.card-text {
    height: 60px;
}


/* Allows jump to connect anchor to scroll it down to avoid the navbar */

#connect {
    scroll-margin-top: 5em;
}


/* As long as it's over 768 (medium) we are going to take our custom class and make it take 50% of the space */

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

input[type="email"],
textarea,
fieldset {
    width: 100%;
    border: 1px solid #333;
    box-sizing: border-box;
}


/* input:invalid {
    box-shadow: 0 0 4px 2px red;
}

input:focus:invalid {
    box-shadow: none;
} */